body{
	background-color: #EEE;
	font-family:Helvetical, Afica;
}
a {
	text-decoration:none;
	color: red;
}
h1,h2,h3{
	margin: 0;
}
#container{
	background-color: white;
	width: 800px;
	margin-left:auto;
	margin-right: auto;
}
#header{
	background-color:#66CCFF;
	color:white;

}
#content{
	padding:10px;
}

#nav{
	width: 180px;
	float: left;
}
#nav .selected{
	font-weight: bold;
}
#nav ul{

}
#main{
	width: 600px;
	height: auto;
}
#footer{
	clear: both;
	padding: 10px;
	background-color:#999999;
	color: white;
}
